[submodule "cloudstream_ref_android"]
	path = cloudstream_ref_android
	url = git@github.com:recloudstream/cloudstream.git
[submodule "repositories/MegaRepo"]
	path = repositories/MegaRepo
	url = https://github.com/self-similarity/MegaRepo.git
